import os

# Postgres database
db_host = "localhost"
db_port = "5432"
db_name = "index"
db_user = "index"

server_port = 80

db_pass = os.environ.get('DB_PASS')

if not db_pass:
    db_pass = ''

run_as_daemon = True # Should the indexer be run as a daemon?
